@import url('https://fonts.googleapis.com/css?family=Lato|Spartan&display=swap');

:root {
  --dark_colour: #212529;
  --teal: #6ECAB5; /* #009688 */
  --light_colour: #FCF8FD;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', cursive;
  color: var(--dark_colour);
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', cursive;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', cursive;
}

h3 {
  font-family: 'Spartan', cursive;
}

label {
  font-family: 'Spartan', cursive;
}

.landing_main {
  height: 100vh;
  width: 100vw;
  background: var(--dark_colour);
  display: flex;
  align-items: center;
}

.landing_banner {
  padding: 50px 0;
  /* height: 400px; */
  width: 100%;
  background: var(--teal);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.auth_outer_wrapper {
  width: 400px;
}

.auth_wrapper {
  padding: 30px;
  /* width: 400px; */
  height: 310px;
  background: #2125292c;
  border-radius: 5px;
  transition: all 0.2s ;
}

.auth_wrapper_register {
  height: 470px;
}

.login_wrapper > div {
  margin-top: 20px;
}

.login_register_switch {
  margin-top: 10px;
  cursor: pointer;
  background: #2125292c;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px 10px;
  border: 0px;
  border-bottom: 1px solid var(--dark_colour);
  background: none;
  font-size: 1em;
  /* border-radius: 5px; */
}

.input:active {
  background: none;
}

.button {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background: var(--light_colour);
  border-bottom: 2px solid var(--dark_colour);
  transition: all 0.2s;
  cursor: pointer;
}

.button:active {
  margin-top: 2px;
  border-bottom: 0px;
  transform: translateY(2px);
}

.input_label {
  display: block;
  margin-bottom: 10px;
  pointer-events: none;
  font-size: 1em;
  transform: translate(10px, 0px);
  transition: all 0.2s;
}

.input_label_on_focus {
  font-size: 1em;
  transform: translate(10px, 35px);
}

.login_register_small {
  font-size: 0.7em;
  margin-right: 5px;
}

.error_text {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
  color: red;
}

.error_text_logreg {
  float: right;
  margin-top: 0;
  margin-right: 20px;
}

/* Modal */

.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000071;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content_wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  align-items: center;
}

.modal_content {
  width: 40%;
  position: relative;
  background: var(--light_colour);
  border-radius: 5px;
  pointer-events: all;
  padding: 40px 20px;
  height: 50%;
}

.modal_input {
  font-size: 1.2em;
}

.modal_header {
  margin-bottom: 20px;
}


/* Project Main Page */

.project_page_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar_wrapper {
  height: 80px;
}

.main_content_wrapper {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.sidebar_wrapper {
  width: 220px;
  /* flex: 1; */
}

.project_main_wrapper {
  flex: 5;
}

/* Navbar */

.navbar {
  background: var(--teal);
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: flex-end;
}

.nav_user_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

/* Sidebar */

.sidebar {
  background: var(--dark_colour);
  min-width: 220px;
  /* width: 220px; */
  overflow: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.project_tag_container {
  margin-top: 40px;
  width: 70%;
  text-align: right;
}

.project_tag {
  text-align: center;
  background: var(--light_colour);
  padding: 10px 0px;
  border-radius: 50px 0 0 50px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  float: right;
  transition: width 0.2s;
}

.unselected_tag {
  background: #716f71;
  color: var(--light_colour);
}

.selected_tag {
  background: var(--light_colour);
  color: var(--dark_colour);
}

.project_tag:hover {
  width: 110%;
}

.project_tag:first-child {
  float: right;
  width: 40%;
}

.project_tag:first-child:hover {
  width: 60%;
}
.plus {
  height: 1em;
}

/* Project Main */

.project_main {
  background: var(--light_colour);
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

/* .project_main::-webkit-scrollbar {
  display: none;
} */

.project_container {
  height: 100%;
  width: 100%;
  padding: 60px 40px;
}

.project_header {
  margin-bottom: 40px;
}

/* Project column headers */

.col_header_invis {
  visibility: hidden;
}

.col_header_container:first-of-type {
  background: none;
}

.project_header_edit_click {
  cursor: pointer;
}

.project_name:hover .edit_project_name_icon {
  opacity: 1;
}

.project_header_edit {
  font-size: 2.5em;
}

.edit_button {
  height: inherit;
  width: inherit;
}

.project_container h1 {
  font-size: 2.5em;
}

.project_description {
  margin-top: 20px;
}

.project_description:hover .edit_project_description_icon {
  opacity: 1;
}

.project_edit_description {
  font-size: 1em;
  max-height: 2em;
  min-height: 2em;
  padding: 5px;
  max-width: 50%;
  min-width: 50%;
  background: var(--light_colour);
  border: 0px;
  border-bottom: 1px solid var(--dark_colour);
}

.project_line_break {
  background: #D8D8D8;
  height: 1px;
  /* transform: scaleX(1.5); */
}

.project_container h2 {
  font-size: 1.5;
}

.table_container_outer {
  display: flex;

}

.new_column {
  /* background: red; */
  width: 100px;
  margin-left: 10px;
  padding: 30px 0 10px 0;
  cursor: pointer;
}

.new_column_inner:hover {
  transition: all 0.1s linear;
  opacity: 1;
}

.new_column_inner {
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #D8D8D8;
  text-align: center;
  font-size: 4em;
}

.new_column_popup {
  width: 200px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 53px 72px -23px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 53px 72px -23px rgba(0,0,0,0.40);
  box-shadow: 0px 53px 72px -23px rgba(0,0,0,0.40);
}

.new_column_item {
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  height: 75px;
  transition: all 0.1s linear;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_column_item:last-of-type {
  margin-bottom: 0px;
}

div.new_column_close {
  margin-bottom: 20px;
  align-self: center;
}

.new_column_item:hover {
  background: var(--teal);
}

.new_column_item:hover > h2 {
  color: white;
}

.new_column_item_text {
  pointer-events: none;
}

.table_container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.task_container:first-child {
  margin-top: 30px;
}

.task_container {
  margin: 10px 0;
  background: #D8D8D8;
  display: flex;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  /* flex-shrink: 1; */
}

.new_task_container {
  opacity: 0.5;
  /* background: #ebe8eb; */
  cursor: pointer;
  transition: all 0.1s linear;
  align-self: stretch;
}

.new_task_container:hover {
  opacity: 1;
}

.new_task_input {
  background: #D8D8D8;
}


.task_colour {
  width: 10px;
  height: inherit;
}

.task_text {
  padding: 0 15px;
  min-width: 200px;
  width: 300px;
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_delete {
  /* color: red; */
  min-width: 20px;
  height: 20px;
  background: rgb(212, 50, 50);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background: var(--light_colour); */
  cursor: pointer;
}

.column_delete {
  /* color: red; */
  width: 15px;
  height: 15px;
  background: rgb(212, 50, 50);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background: var(--light_colour); */
  transform: rotate(45deg);
  cursor: pointer;
}

.task_content_container {
  /* padding: 15px 0; */
  height: 50px;
  width: 100%;
  display: flex;
}

.task_column_outer {
  width: 125px;
  /* text-align: center; */
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--light_colour);
}

.task_column_outer_no_hover {
  width: 125px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid var(--light_colour);
}

.task_column_outer:hover {
  background: rgb(196, 194, 194);
}

.new_task_column {
  width: 125px;
  /* text-align: center; */
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--light_colour);
  background: #eae8eb;
  transition: all 0.1s;
}

.new_task_column:hover {
  background: #D8D8D8;
}

.task_column {
  pointer-events: none;
}

div.task_done {
  background: rgb(38, 204, 38);
}

div.task_done:hover {
  background: rgb(29, 158, 29);
}

div.task_done > div {
  color: white;
}

div.task_stuck {
  background: rgb(212, 50, 50);
}

div.task_stuck:hover {
  background: rgb(146, 33, 33);
}

div.task_stuck > div {
  color: white;
}

div.task_in.progress {
  background: rgb(245, 173, 39);
}

div.task_in.progress:hover {
  background: rgb(190, 134, 30);
}

div.task_in.progress > div {
  color: white;
}


.column_popup {
  position: absolute;
  transform-origin: center;
  border-radius: 5px;
  /* overflow: hidden; */
  background: white;
  /* border: 1px solid rgb(149, 145, 150); */
  padding: 20px 10px;
  z-index: 1;
  -webkit-box-shadow: 0px 53px 72px -23px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 53px 72px -23px rgba(0,0,0,0.40);
  box-shadow: 0px 53px 72px -23px rgba(0,0,0,0.40);
}

/* New Project */

.new_project_wrapper {
  width: 60%;
  margin: 80px 0 0 0;
}

.new_project_wrapper h1 {
  text-align: center;
  font-size: 3em;
}

.new_project_wrapper label {
  display: block;
  margin-bottom: 30px;
  /* padding-left: 20px; */
  font-size: 2em;
}

.new_project_content {
  margin-top: 50px;
}

.new_project_input_wrapper {
  margin: 50px 0;
}

.new_project_input {
  font-size: 1.5em;
  padding-left: 0;
}

.new_project_text_field {
  max-width: 100%;
  min-width: 100%;
  min-height: 3em;
  font-size: 1.2em;
  height: 3.5em;
  padding: 10px 0;
  border: 0px;
  border-top: 1px solid var(--dark_colour);
  border-bottom: 1px solid var(--dark_colour);
  background: none
}

.new_project_build_team_button {
  width: 200px;
  background: var(--teal);
}

.new_project_submit_button {
  width: 100%;
  background: var(--teal);
  margin-bottom: 40px
}

.popup_wrapper {
  position: relative;
}

.picker {
  display: flex;
  flex-direction: column;
  width: 100px;
  z-index: 1;
}

.picker_option {
  height: 60px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--light_colour);
}

.picker_done {
  background: rgb(38, 204, 38);
}

.picker_progress {
  background: rgb(245, 173, 39);
}

.picker_stuck {
  background: rgb(212, 50, 50);
}

.picker_blank {
  background: #d8d8d8;
  margin-bottom: 0px;
}


/* User Profile */

.user_page_wrapper {
  height: 100%;
  width: 100%;
  padding: 40px 30px;
}

.user_page_header {
  display: flex;
}

.user_page_image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.user_page_info {
  flex-grow: 1;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user_page_username {
  font-size: 3em;
  cursor: pointer;
}

.edit_username_icon, .edit_email_icon, .edit_project_name_icon, .edit_project_description_icon {
  display: inline-block;
  height: 25px;
  margin-left: 30px;
  width: 25px;
  background: url(../assets//edit-24px.svg);
  opacity: 0;
  transition: all 0.05s linear;
  pointer-events: none;
}

.user_page_username:hover .edit_username_icon {
  opacity: 1;
}

.user_page_email:hover .edit_email_icon {
  opacity: 1;
}

.user_page_email {
  font-size: 1.5em;
  cursor: pointer;
}

.user_page_image_input {
  display: none;
}

.user_page_username_edit {
  font-size: 3em;
  background: none;
  border: 0px;
  font-family: 'Spartan', cursive;
  font-weight: bold;
  border-bottom: 1px solid var(--dark_colour);
}

.user_page_email_edit {
  font-size: 1.5em;
  background: none;
  border: 0px;
  font-family: 'Spartan', cursive;
  border-bottom: 1px solid var(--dark_colour);
}


.popup_close {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  align-self: center;
  margin-bottom: 5px;
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 480px) {

  .auth_outer_wrapper {
    width: 100vw;
  }
  
}
